@{
    ViewData["Title"] = "Home Page";
}
<div class="row justify-content-around">
    <div class="text-center col-md-6">
        <h1 class="display-4">Welcome</h1>
        <p>This is a technical excercise for <a href="https://www.groupfour.com.au/">Group Four - building surveyors</a></p>
        <p>
            This application allow users to reserve books from a <a class="link-primary" asp-controller="Book" asp-action="Index">book store</a>
            and search the book store based on the book title and availability.
        </p>
        <p>
            Users and guest are allowed to view all the books but only registered users would be able to reserve books.
            Users are also able to manage their reservations on
            <a class="link-primary" asp-controller="User" asp-action="Index">My reservations</a>
        </p>
        <p>
            <a class="link-primary" asp-area="Identity" asp-page="/Account/Register">Register</a> or
            <a class="link-primary" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </p>
    </div>
</div>